# Handling categorical features

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

Variable Transformation 

- One hot Encoding

In [21]:
df=pd.read_csv('train.csv',usecols=['Sex'])

In [4]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [22]:
pd.get_dummies(df,drop_first=False).head()

   Sex_female  Sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

In [6]:
pd.get_dummies(df,drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [7]:
df=pd.read_csv('train.csv',usecols=['Embarked'])

In [8]:
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [11]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [12]:
df.dropna(inplace=True)

In [19]:
pd.get_dummies(df,drop_first=False).head()

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

In [18]:
pd.get_dummies(df,drop_first=True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1