# Importing

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('housing_train.csv',usecols = ['BsmtQual','FireplaceQu','GarageType','SalePrice'])

In [3]:
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [4]:
def impute_nan(df,variable):
    df[variable]=np.where(df[variable].isnull(),'Missing',df[variable])

In [5]:
for col in ['BsmtQual','FireplaceQu','GarageType','SalePrice']:
    impute_nan(df,col)

In [8]:
df['BsmtQual'].value_counts()

TA         649
Gd         618
Ex         121
Missing     37
Fa          35
Name: BsmtQual, dtype: int64

In [6]:
df.isnull().sum()

BsmtQual       0
FireplaceQu    0
GarageType     0
SalePrice      0
dtype: int64